.section__title {
  @media screen and (max-width: 1199px) {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
    margin-bottom: var(--set-gap);
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    @include font($fs: 36px, $fw: 700, $lh: 42px);
    margin-bottom: 50px;
    text-align: center;
  }
}
